
<div class="row">
  <div class="col-xs-3">
    <div class="left-panel">
      <div class="container">
        <mat-form-field class="example-full-width">
          <mat-label>KG на 10мм</mat-label>
          <input matInput placeholder="KG" type="number" [(ngModel)]="kgValue1">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isInputDisabled(kgValue1)" (click)="addRate1()">
          Застосувати
        </button>
      </div>
      <div class="container">
        <mat-form-field class="example-full-width">
          <mat-label>KG на 20мм</mat-label>
          <input matInput placeholder="KG" type="number" [(ngModel)]="kgValue2">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isInputDisabled(kgValue2)" (click)="addRate2()">
          Застосувати
        </button>
      </div>
      <div class="container">
        <mat-form-field class="example-full-width">
          <mat-label>KG на 30мм</mat-label>
          <input matInput placeholder="KG" type="number" [(ngModel)]="kgValue3">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isInputDisabled(kgValue3)" (click)="addRate3()">
          Застосувати
        </button>
      </div>
      <div class="container">
        <mat-form-field class="example-full-width">
          <mat-label>KG на 40мм</mat-label>
          <input matInput placeholder="KG" type="number" [(ngModel)]="kgValue4">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isInputDisabled(kgValue4)" (click)="addRate4()">
          Застосувати
        </button>
      </div>
      <div class="container">
        <mat-form-field class="example-full-width">
          <mat-label>KG на 50мм</mat-label>
          <input matInput placeholder="KG" type="number" [(ngModel)]="kgValue5">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isInputDisabled(kgValue5)" (click)="addRate5()">
          Застосувати
        </button>
      </div>

      <div class="container" style="text-align: center">
        <button mat-raised-button color="warn" (click)="reset()">
          Очистити
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
      <app-my-line-chart
        [data]="chartData">
      </app-my-line-chart>
  </div>
</div>

