@import "flex-grid";


.left-panel {
  padding: 40px 0 0 40px;
}

.container-main {
  padding: 15px;
}

.padding-sm {
  padding: 5px;
}


.text-bold {
  font-weight: bold;
}

.text-normal {
  font-size: 20px;
}
.padding-lg {
  padding: 25px;
}
